# Git related temporary files
*.patch
*.diff
*.orig
*.rej

# OS files
.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes
.Trash-*
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Relational State related
.relational/stateless/*
!./.relational/stateless/.gitkeep
.relational/vector_store/*
!.relational/vector_store/.gitkeep
